@model NewRLWeb.Models.Project_Case

@{
    ViewBag.Title = "Edit";
}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.js"></script>
<link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">
<script type="text/javascript">

    //判断浏览器是否支持FileReader接口
    if (typeof FileReader == 'undefined') {
        document.getElementById("xmTanDiv").InnerHTML = "<h1>当前浏览器不支持FileReader接口</h1>";
        //使选择控件不可操作
        document.getElementById("xdaTanFileImg").setAttribute("disabled", "disabled");
    }
    //选择图片，马上预览
    function xmTanUploadImg(obj) {
        var file = obj.files[0];

        console.log(obj); console.log(file);
        console.log("file.size = " + file.size);  //file.size 单位为byte

        var reader = new FileReader();

        //读取文件过程方法
        reader.onloadstart = function (e) {
            console.log("开始读取....");
        }
        reader.onprogress = function (e) {
            console.log("正在读取中....");
        }
        reader.onabort = function (e) {
            console.log("中断读取....");
        }
        reader.onerror = function (e) {
            console.log("读取异常....");
        }
        reader.onload = function (e) {
            console.log("成功读取....");

            var img = document.getElementById("xmTanImg");
            img.src = e.target.result;
            //或者 img.src = this.result;  //e.target == this
        }

        reader.readAsDataURL(file)
    };

    $(function () {
        $("#Startdate").datepicker();
    });
    $(function () {
        $("#Enddate").datepicker();
    });
</script>
<!--//////////////////////////////////////////////////////周煜 2017.1.15////////////////////////////////////////////////////////////////////-->
@*<script src="/Scripts/jquery-1.7.1.min.js"></script>
    <script src="/Scripts/jquery-ui-1.8.24.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css" />*@
<div style="height: 520px; position: relative;">
    @using (Html.BeginForm("Edit", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Project</legend>
            @Html.HiddenFor(model => model.ProjectID)
            @Html.HiddenFor(model => model.Coverage)
            <div class="row">
                <div class="col-xs-12 col-md-8">
                    <div class="row">

                        <div class="form-group" style="margin-left:15px">
                            @Html.LabelFor(model => model.Projectname, new { @id = "Title_lab" })
                            @Html.TextBoxFor(model => model.Projectname, new { @class = "form-control", @required = "required", @maxlength = "50" })
                            @Html.ValidationMessageFor(model => model.Projectname)
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group" style="margin-left:15px">
                            @Html.LabelFor(model => model.Abstract, new { @id = "Abstract_lab" })
                            <textarea class="form-control" required="required" style="resize: none;" data-val="true" data-val-required="您需要填写简介" id="Abstract" name="Abstract" rows="3">@Model.Abstract</textarea>
                            @Html.ValidationMessageFor(model => model.Abstract)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            @Html.LabelFor(model => model.Startdate)
                            <input data-val="true" data-val-date="字段 起始日期 必须是日期。" data-val-required="起始日期 字段是必需的。" required="required" readonly="readonly" id="Startdate" name="Startdate" type="text" value="@Model.Startdate.ToShortDateString()" class="form-control">
                            @Html.ValidationMessageFor(model => model.Startdate)
                        </div>
                        <div class="col-xs-6">
                            @Html.LabelFor(model => model.Enddate)
                            <input data-val="true" data-val-date="字段 结束日期 必须是日期。" data-val-required="结束日期 字段是必需的。" required="required" readonly="readonly" id="Enddate" name="Enddate" type="text" value="@Model.Enddate.ToShortDateString()" class="form-control">
                            @Html.ValidationMessageFor(model => model.Enddate)
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-md-4">
                    <label for="Pho_Address">项目展示图片</label>
                    <div>
                        <div>
                            @if (string.IsNullOrEmpty(Model.PhotoAddress))
                            {
                                <img id="xmTanImg" width="350" height="230" src="~/Images/empty.gif" />
                            }
                            else
                            {
                                <img id="xmTanImg" width="350" height="230" src="@Url.Content(Model.PhotoAddress)" alt="images" />
                                <div style="display:none">
                                    @Html.EditorFor(model => model.PhotoAddress)
                                    @Html.ValidationMessageFor(model => model.PhotoAddress)
                                </div>
                            }
                        </div>
                        <div>
                            <input type="file" id="xdaTanFileImg" name="xdaTanFileImg" onchange="xmTanUploadImg(this)" accept="image/*" />
                            <div id="xmTanDiv"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-4">
                    @Html.LabelFor(model => model.Cooperativeunit)
                    @Html.TextBoxFor(model => model.Cooperativeunit, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Cooperativeunit)
                </div>
                <div class="col-xs-6 col-sm-4">
                    @Html.LabelFor(model => model.ProjectType)
                    @Html.DropDownList("ProjectType", ViewData["List1"] as SelectList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProjectType)
                </div>
            </div>
            <br />
            <p>
                <input type="submit" @*onclick="create_submit()"*@ value="确定" name="Save" style="right: 17%; position: absolute; bottom: 0; " />
            </p>
        </fieldset>
    }
</div>
<div>
    @Html.ActionLink("返回", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}