@model IEnumerable<NewRLWeb.Models.Album>

@{
    ViewBag.Title = "List";
    //Layout = "~/Views/Shared/_Manage.cshtml";
}
<table class="table table-hover">
    <tr>
        <th>展示图片</th>
        <th>
            @Html.DisplayNameFor(model => model.Albumname)
        </th>

        @*<th>
            @Html.DisplayNameFor(model => model.A_PhotoID)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Album_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publicationtime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div>
                    @if (string.IsNullOrEmpty(item.Pho_Address))
                    {
                        <img id="Img" width="100" height="50" src="~/Images/empty.gif" />
                    }
                    else
                    {
                        <img id="Img" width="100" height="50" src="@Url.Content(item.Pho_Address)" alt="images" />
                    }
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Albumname)
            </td>

            @*<td>
                @Html.DisplayFor(modelItem => item.A_PhotoID)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Album_Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publicationtime)
            </td>
            <td>
                @Ajax.ActionLink("编辑", "Edit", "Album", new { id = item.AlbumID }, new AjaxOptions() { UpdateTargetId = "mainContent", HttpMethod = "Get", OnBegin = "active", InsertionMode = InsertionMode.Replace }) |
                @Ajax.ActionLink("添加图片", "AddPicters", "Album", new { id = item.AlbumID }, new AjaxOptions() { UpdateTargetId = "mainContent", HttpMethod = "Get", OnBegin = "active", InsertionMode = InsertionMode.Replace }) |
                @Ajax.ActionLink("详情", "Details", "Album", new { id = item.AlbumID }, new AjaxOptions() { UpdateTargetId = "mainContent", HttpMethod = "Get", OnBegin = "active", InsertionMode = InsertionMode.Replace }) |
                @Ajax.ActionLink("删除", "Delete", "Album", new { id = item.AlbumID }, new AjaxOptions() { UpdateTargetId = "mainContent", HttpMethod = "Get", OnBegin = "active", InsertionMode = InsertionMode.Replace })
            </td>
        </tr>
    }

</table>


