@model IEnumerable<NewRLWeb.Models.Users>

@{
    ViewBag.Title = "DeleteList";
}
<script>
    $("#chkAll").click(function () {
        if (this.checked) {
            $("input[name='checks']").each(function () { this.checked = true; });
        }
        else {
            $("input[name='checks']").each(function () { this.checked = false; });
        }
    });
</script>
<div style="height: 560px; position: relative;">
    @using (Html.BeginForm("MultDelete", "Graduate", FormMethod.Post))
    {
        <table class="table table-hover">
            <tr>
                <th>
                    <input type="checkbox" id="chkAll" />全选
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sex)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Admission_Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Graduate_Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Education)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Graduate_Direction)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Graduate_Address)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" id="checks" name="checks" value="@item.UserID" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @UIHelper.ShowSex(item.Sex)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Admission_Data)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Graduate_Data)
                    </td>
                    <td>
                        @UIHelper.ShowEducation(item.Education)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Graduate_Direction)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Graduate_Address)
                    </td>
                </tr>
            }

        </table>
        <input type="submit" name="BtnDelete" value="删除" style="right: 13%; position: absolute; bottom: 20px; " />
    }
</div>