@model IEnumerable<NewRLWeb.Models.Small_Type>

@{
    ViewBag.Title = "Delete";
}

<h2>删除类别</h2>
<fieldset>
    <legend>确定要删除这个类别么?</legend>
    <div class="row" style="height:480px">
        <div class="col-md-6 col-md-offset-3">
            <div class="editor-label">
                <label>大类名称</label>
            </div>
            <div class="editor-field">
                <input class="form-control" id="L_Type" name="L_Type" readonly="readonly" type="text" value="@ViewBag.LType">
            </div>
            <br />
            @if (Model != null && Model.Count() != 0)
            {
                <table class="table table-hover">
                    <tr>
                        <th>小类名称</th>
                        <th>是否可删</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.S_Type)</td>
                            <td>@UIHelper.ShowRetain(item.Retain)</td>
                        </tr>
                    }
                </table>
            }
        </div>
    </div>
    @*<p>
        <input type="submit" value="删除" />
    </p>*@
    <p style="left : 5%; position: absolute; bottom: 0; ">
            <button>@Ajax.ActionLink("删除", "DeleteConfirmed", new { ltype = @ViewBag.LType }, new AjaxOptions { UpdateTargetId = "mainContent", HttpMethod = "Post", InsertionMode = InsertionMode.Replace })</button> |
        </p>
</fieldset>

<p>
    @Html.ActionLink("返回", "List", FormMethod.Get)
</p>
