@model IEnumerable<NewRLWeb.Models.Users>

@{
    ViewBag.Title = "DeleteList";
}
<script type="text/javascript">
    //$("#chkAll").click(function () {
    //    var ischecked = this.checked;
    //    $("input:checkbox[name='check']").each(function () {
    //        this.checked = ischecked;
    //    });
    //});
    $("#chkAll").click(function () {
        if (this.checked) {
            $("input[name='checks']").each(function () { this.checked = true; });
        }
        else {
            $("input[name='checks']").each(function () { this.checked = false; });
        }
    });
</script>
<div style="height: 480px; position: relative;">
    @using (Html.BeginForm("MultDelete", "Users", FormMethod.Post))
    {
        <table class="table table-hover">
            <tr>
                <th>
                    <input type="checkbox" id="chkAll" />全选
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sex)
                <th>
                    @Html.DisplayNameFor(model => model.Native)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Admission_Data)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Education)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" id="checks" name="checks" value="@item.UserID" />
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => item.UserID)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Username)
                    </th>
                    <th>
                        @UIHelper.ShowSex(item.Sex)
                    <th>
                        @Html.DisplayFor(modelItem => item.Native)
                    </th>
                    <th>
                        @Html.DisplayFor(modelItem => item.Admission_Data)
                    </th>
                    <th>
                        @UIHelper.ShowEducation(item.Education)
                    </th>
                </tr>
            }

        </table>
        <input type="submit" name="BtnDelete" value="删除" style="right: 13%; position: absolute; bottom: 0; " />
    }
</div>

